{% extends "layout.html" %}

{% block content %}




<div class="container m-auto">
  <div class="p-5 pb-1 bg-black rounded-3">
    <a href="{% url "index" %}"> <button class="btn btn-secondary btn-lg rounded-lg">Continue shopping</button> </a>
    <hr>
    <div class=" gap-2 mb-5">
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Items : <span> {{order.get_items_total}} </span>
        </p>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Total : <span> {{order.get_cart_total|floatformat:2}} $ </span>
        </p>

      <a href="{% url "checkout" %}"> 
      <button class="btn btn-success btn-lg rounded-pill" type="button">
       Checkout
      </button>
      </a>
    </div>
  </div>
</div>

<div class="container m-auto mt-3">
    <div class="p-5 pb-1 bg-black rounded-3">
        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% if orderitems %}
                {% for orderitem in orderitems %}
                  <tr>
                    <td><img src="{{orderitem.product.imageURL}}" width="60px" alt="asdf"></td>
                    <td>{{orderitem.product.name}}</td>
                    <td>{{orderitem.product.price|floatformat:2}} $</td>
                    <td>{{orderitem.quantity}} 
                      <span><a href="{% url 'add_to_cart' orderitem.product.id 'add' %}"><img src="" alt="up"></a></span>
                      <span><a href="{% url 'add_to_cart' orderitem.product.id 'remove' %}"><img src="" alt="down"></a></span>
                    </td>
                    <td>{{orderitem.get_total|floatformat:2}} $</td>
                  </tr>
                {% endfor %}
              {% else  %}
              <h1> your cart is ble ble </h1>
              {% endif %}
            </tbody>
          </table>
    </div>
  </div>
  

{% endblock %}